twitter_analyser/data-crawler.json
[{"id":"fc19089c.f27df","type":"twitter in","z":"2c806227.7f72be","twitter":"","tags":"brexit","user":"false","name":"Twitter-Crawler","topic":"tweets","inputs":0,"x":120,"y":160,"wires":[["b7fc790b.7eafe8"]]},{"id":"fb7f571d.a42038","type":"sentiment","z":"2c806227.7f72be","name":"Sentiment-Analysis","x":610,"y":80,"wires":[["e480d841.12773"]]},{"id":"c1de495d.f7079","type":"websocket out","z":"2c806227.7f72be","name":"Web-Socket-Listener","server":"f3e65d10.e3dca","client":"","x":540,"y":440,"wires":[]},{"id":"3657617b.5d8106","type":"debug","z":"2c806227.7f72be","name":"Not Valid Words Tweets","active":true,"console":"false","complete":"true","x":550,"y":300,"wires":[]},{"id":"b7fc790b.7eafe8","type":"switch","z":"2c806227.7f72be","name":"En-Language-Filter","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"}],"checkall":"true","outputs":1,"x":290,"y":40,"wires":[["fb7f571d.a42038"]]},{"id":"e480d841.12773","type":"function","z":"2c806227.7f72be","name":"JSON-filter","func":"\nreturn {\n    'created_at': msg.tweet.created_at,\n    'text': msg.tweet.text,\n    'retweet_count' : msg.tweet.retweet_count,\n    'favourite_count' : msg.tweet.favourite_count,\n    'sentiment_score' : msg.sentiment.score,\n    'sentiment_tokens' : msg.sentiment.tokens.length | 0,\n    'sentiment_comparative' : msg.sentiment.comparative*100,\n    'sentiment_positive_count' : msg.sentiment.positive.length | 0,\n    'sentiment_negative_count' : msg.sentiment.negative.length | 0,\n    'sentiment_word_count' : msg.sentiment.words.length | 0\n};","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["e728ce7a.7ddcc"]]},{"id":"e728ce7a.7ddcc","type":"switch","z":"2c806227.7f72be","name":"Word_Count_Switch","property":"sentiment_word_count","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":180,"y":340,"wires":[["3657617b.5d8106"],["c1de495d.f7079"]]},{"id":"f3e65d10.e3dca","type":"websocket-listener","z":"","path":"ws://127.0.0.1:9091/websocketserver","wholemsg":"true"}]